/* variables*/
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.C_font {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 5px;
}

main {
  font-family: "Josefin Sans", sans-serif;
}

main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section article {
  display: inherit;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section article p {
  margin-top: 5px;
  width: 10ch;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  border-radius: 15px;
  border: 2px solid #6A82F6;
  color: #091031;
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, #C7D0FB), color-stop(50%, #091031)) right;
  background: linear-gradient(to left, #C7D0FB 50%, #091031 50%) right;
  background-size: 200%;
  -webkit-transition: background-position .5s;
  transition: background-position .5s;
}

main section article p:hover {
  background-position: left;
  border-color: #6A82F6;
  color: #C7D0FB;
}

main section article a:link {
  text-decoration: none;
}

main section article iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

main section article .shadow_pink {
  -webkit-box-shadow: 7px -10px 10px 0 #ecb2ec;
          box-shadow: 7px -10px 10px 0 #ecb2ec;
}

main section article .iframe_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95%;
  z-index: 5;
}

.break-line-1 {
  width: 100%;
  height: 5vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#091031), to(#C7D0FB));
  background: linear-gradient(#091031, #C7D0FB);
}

.break-line-2 {
  width: 100%;
  height: 5vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#C7D0FB), to(#091031));
  background: linear-gradient(#C7D0FB, #091031);
}

.skills {
  width: 100%;
  height: 50vh;
  background-color: #C7D0FB;
  color: #091031;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.skills h2 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
  font-size: 3rem;
}

.skills article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 40%;
  max-height: 100%;
  max-width: 300px;
}

.skills article figure {
  height: 100px;
  width: 100%;
  display: inherit;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills article figure img {
  max-width: 100%;
  max-height: 100%;
}

.project {
  width: 100%;
  background-color: #091031;
  color: aliceblue;
}

.project h1 {
  width: 100%;
  font-size: 3rem;
  height: 10vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: inherit;
}

.contact {
  background-color: #C7D0FB;
  color: #091031;
}

.content-right, .content-left {
  width: 83.33%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 30px;
  opacity: 0;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  -webkit-transition: opacity 0.3s 0.25s ease-out, -webkit-transform 3s 0.2s cubic-bezier(0, 1, 0.3, 1);
  transition: opacity 0.3s 0.25s ease-out, -webkit-transform 3s 0.2s cubic-bezier(0, 1, 0.3, 1);
  transition: transform 3s 0.2s cubic-bezier(0, 1, 0.3, 1), opacity 0.3s 0.25s ease-out;
  transition: transform 3s 0.2s cubic-bezier(0, 1, 0.3, 1), opacity 0.3s 0.25s ease-out, -webkit-transform 3s 0.2s cubic-bezier(0, 1, 0.3, 1);
  will-change: transform, opacity;
}

.content-right div, .content-left div {
  width: 100%;
  height: 90%;
}

.content-right div svg, .content-left div svg {
  width: 100%;
  height: 100%;
}

.content-left {
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}

.is-visible {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}
/*# sourceMappingURL=main.css.map */