@import 'mixing';

@media only screen and (min-width:768px)
{
    .apresentation{
        display: flex;
        justify-content: center;
        align-items: center;          
    }

    header{        
        @include col-12;         
        section{       
            @include col-12;                
            display: flex;  
            flex-direction: row;
            
                                      
            article{     
                display: flex;
                justify-content: center; 
                align-items: center;               
                height: 100%;
                
               
                figure{    
                    @include col-12;                      
                    height: 100%;             
                    display: inherit;
                    align-items: center;
                    justify-content: center;                        
                    
                    img{                        
                        max-height: 300px;
                    }                                   
                }
                div
                {                    
                    max-width: 75%;
                } 
            }              
        }       
    } 
    main{       
        section{           
            flex-flow: row wrap;                     
        }
        .skills
        {
            height: 350px;
        }
    }  
    .contact
    {        
        height: 100%;
        section
        {            
            width: 100%;           
        }
    }
    
   
}

@media only screen and (min-width:1080px){
    header
    {
        height: 450px;
        section
        {
            @include col-10;                              
        }
    }
    main 
    {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        section 
        {           
            @include col-10;
            justify-content: center;
            article
            {
                max-width: 41.66%;            
            }
        }

    }
    .apresentation
    {
        figure
        {
            @include col-5;
        }
    }
}